
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: -o-linear-gradient(to left,#cfdae0, #dce0e2);
    background: linear-gradient(to left, #cfdae0, #dce0e2);
    background: -moz-linear-gradient(to left, #cfdae0, #dce0e2);
    background: -webkit-linear-gradient(to left, #cfdae0, #dce0e2);
  }
  
  .nav-container{
    flex-wrap: wrap;
  }

  .menu-bars {
    background-color: #000000;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }

  .IconMenu {

    margin-left: 2rem;
    font-size: 2rem;
    color:#000000; 
  }

  .IconNotification,
  .IconContact {
      
      font-size: 2rem;
      cursor: pointer;
  }
  
  .IconNotification {
      margin-left: 1.5rem;
      position: absolute;
      right: 2rem; /* Ajuste a posição horizontal conforme necessário */
      top: 50%;
      transform: translateY(-50%);
  }
  
  .IconContact {
      margin-left: 1rem;
      position: absolute;
      right: 4.5rem; /* Ajuste a posição horizontal conforme necessário */
      top: 50%;
      transform: translateY(-50%);
  }
  
  .nav-menu {
  
    background-color: #000000;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 850ms ease-in;
    background: -o-linear-gradient(to left,#cfdae0, #dce0e2);
    background: linear-gradient(to left, #cfdae0, #dce0e2);
    background: -moz-linear-gradient(to left, #cfdae0, #dce0e2);
    background: -webkit-linear-gradient(to left, #cfdae0, #dce0e2);
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    transition: left 600ms ease-out;
  }
  
  .menu-bars.FaIcons.FaBars {
    color: black;
    background-color: #000000;
  }
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 60px;
  }


  .content-shift {
    margin-left: 200px; /* Ajuste o valor conforme necessário */
    transition: margin-left 350ms ease-out; /* Efeito de transição suave */
  }

  .page-content {
    transition: margin-left 350ms;
  }
  
  .page-content.shifted {
    margin-left: 200px; /* Ajuste a largura do menu conforme necessário */
  }

  .nav-text a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #75b5ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;



    background: -o-linear-gradient(to left,#cfdae0, #dce0e2);
    background: linear-gradient(to left, #cfdae0, #dce0e2);
    background: -moz-linear-gradient(to left, #cfdae0, #dce0e2);
    background: -webkit-linear-gradient(to left, #cfdae0, #dce0e2);
  }
  
  span {
    margin-left: 16px;
  }