/* components/TurmasGrid.css */

.turmas-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .turmas-table th, .turmas-table td {
    padding: 12px;
    text-align: left;
  }
  
  .turmas-table th {
    background-color: #f2f2f2;
  }
  
  .turmas-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .turmas-table tr:hover {
    background-color: #ddd;
  }
  